@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(fonts/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/lato.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(fonts/lato-light-italic.woff) format('woff');
}

body{
	/*padding-top: 75px;*/
	font-family: 'Lato', sans-serif !important;
	padding-top: 79px;
}

/*.icon-logo{
	height:200px;
	/*margin-top: -13px;*/
}*/

@media (min-width: 768px)
.navbar-wrapper .navbar {
	border-radius: 0px;
}

.navbar-wrapper .navbar {
	border-radius: 0px;
}

.navbar-inverse{
	background: #221c24;
}

.navbar-brand{
	color:#ffeeaa !important;
	font-size: 3.5em;
	font-weight: 300;
	vertical-align: bottom;
	line-height: .8em;
}

.nav{
	font-size: 1.3em;
}

.nav li a{
	padding: 29px;
	color:#C5EEFF;
}

.nav.navbar-nav li a{
	padding: 29px;
	color:#C5EEFF;
}
.section{
	margin-top: 20px;
}

h1{
color:#688E56;
text-align:left;
}

.profile{
	height:120px;
	padding: 10px;
	/*background-color: #bbb;*/
}

#myCarousel{
	height: 400px;
	margin-bottom: 0px;
}


.navbar{
	background-color: #573B24;
}

.carousel .item {
height: 420px;
padding:10px;
background-color: #688E56;
}

.carousel-text-box{
	padding:20px;
	padding-left: 100px;
	/*text-shadow:0 1px 2px rgba(173,190,166,1);*/
	text-shadow:0 1px 2px rgba(255,255,255,.6);
	/*text-shadow:0 1px 2px rgba(0,0,0,0.8);*/
}

.carousel-text{
	color:#062A00;
}

h1.carousel-text{
	margin-top: 0px;
	margin-bottom: 20px;
}

.carousel-text a{
	color: #F8FBFC;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}

.carousel-indicators {
bottom: -60px;
/*background-color:#000;*/
}

.carousel-indicators li {
	border:solid 1px #573B24;
}

.carousel-indicators .active {
	background-color:#573B24;
}

.carousel-control{
	height:420px;
}

.img-profile{
	max-width: 100px;
	
}
.img-small{
	width:600px;
	height:400px;
}

.no-padding{
  padding:0px !important;
}

.img-thumb{
	max-width:460px;
}

p{
	font-size: 14px;
}

.marketing{
	padding-top: 60px;
}

.marketing .text{
	text-align: left;
	padding: 0 30px;
}

.marketing .col-lg-4 p{
	margin-left: 0px;
}

.section_header {
width: 100%;
margin-bottom: 60px;
}

.section_header h3{
font-family: 'Lato', sans-serif !important;
color: #646464;
font-weight: 300;
font-style: italic;
font-size: 27px;
border-bottom: 1px solid #b3b3b3;
padding-bottom: 0px;
display: inline-block;
margin: 0;
}